// variables-&-functions
@import 'variables';

// base & layout
@import 'base';
@import 'breakpoint';
@import 'grid';

// colors
@import 'colors';

// components (button, card, navbar)
@import './components/cards';
@import './components/button';
@import 'components/navbar';
// utilities (margin, padding, opacity)
@import 'sizes';
@import 'utilities';

@media screen and (max-width: 600px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .navhead {
    font-size: $sm;
  }
}

.underline {
  text-decoration: underline;
  text-underline-offset: 20%;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.375rem;
}
