// variables-&-functions
@import 'variables';

// base & layout
@import 'base';
@import 'breakpoint';
@import 'grid';

// colors
@import 'colors';

// components (button, card, navbar)
@import './components/cards';
@import './components/button';
@import 'components/navbar';
// utilities (margin, padding, opacity)
@import 'sizes';
@import 'utilities';

@media screen and (min-width: 600px) {
  .container {
    padding: 0 0rem;
    margin: 0 24px;
  }
}

.underline {
  text-decoration: underline;
}
